{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <meta charset="UTF-8">
    <script type="text/javascript" src="main.js"></script>
    <title>DSTU-PARK</title>
  </head>
  <body>
    {% leaflet_map "mainmap" %}
    <div id="app"></div>
  </body>
</html>