@import url('~leaflet/dist/leaflet.css');
@import url('~leaflet-draw/dist/leaflet.draw.css');
@import url('~leaflet.measurecontrol/docs/leaflet.measurecontrol.css');
@import url('~leaflet-mouse-position/src/L.Control.MousePosition.css');
@import url('~bootstrap/dist/css/bootstrap.css');
@import url('cover.css');
@font-face {
  font-family: "Play";
  src: url(fonts/Play-Regular.ttf);
}

#map {
  height: 100%;
}

#sights-control {
  position: absolute;
  z-index: 401;
  right: 150px;
}

.sight {
  width: 250px;
  height: 70px;
  background-color: #ffffff;
  margin-top: 20px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #808080;
  text-align: center;
}

.sight > .header {
  height: 30px;
  background-color: #ebebe0;
  border-width: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-color: #808080;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}